// COLORS
$slightly-desaturated-cyan-color: hsl(167, 36%, 54%);
$dark-blue-color: hsl(205, 41%, 21%);
$dark-blue-opacity-color: hsla(205, 41%, 21%, 0.15);
$grayish-dark-blue-color: hsl(245, 10%, 22%);
$light-gray-bg-color: hsl(0, 0%, 98%);
$light-grey-text-field-color: hsl(240, 2%, 92%);
$bright-red-error-color: hsl(0, 90%, 57%);
//FONT SIZE

//FONT FAMILY
$heading-font-family: 'Ibarra Real Nova', serif;
$body-font-family: 'Public Sans', sans-serif;

//CONTAINER WIDTH:
$phone-view-width: 31.1rem;
