@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');
:root {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Spartan', sans-serif;
}
*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s all ease;
    position: relative;
    @media screen and (min-width: 768px) {
        width: $tablet-view-width;
    }

    @media screen and (min-width: 1440px) {
        width: $desktop-view-width;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
.hoverColor {
    color: $very-dark-blue-color;
}

#location-design {
    width: 2.5rem;
    top: -7rem;
    left: -6rem;
    position: absolute;
    display: flex;
    writing-mode: vertical-rl;
    text-transform: uppercase;
}
#location-design span:first-of-type {
    width: 0.2rem;
    height: 10.4rem;
    margin: auto;
    background-color: $medium-grey-color;
}
#location-design span:last-of-type {
    color: $medium-grey-color;
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: 1.5rem;
    margin-top: 4.8rem;
}

@media (max-width: 768px) {
    #location-design {
        display: none;
    }
}

.slideY {
    animation-duration: 0.6s;
    animation-name: slideY;
}

@keyframes slideY {
    from {
        padding-top: 26rem;
        opacity: 0.6;
    }
    to {
        padding-top: 0;
        opacity: 1;
    }
}
