// COLORS
$very-dark-blue-color: hsl(220, 14%, 12%);
$dark-grey-color: hsl(226, 6%, 40%);
$dark-grey-opacity-color: hsla(220, 14%, 12%, 0.7);
$medium-grey-color: hsl(223, 7%, 53%);
$light-grey-color: hsl(225, 17%, 82%);
$very-light-grey-color: hsl(230, 21%, 95%);
$error-color: hsl(0, 68%, 61%);

//CONTAINER WIDTH:

$phone-view-width: 31.1rem;
$tablet-view-width: 57.3rem;
$desktop-view-width: 111rem;

// $border-opacity-style: 1px solid $dark-blue-opacity-color;
// $border-style: 1px solid $dark-blue-color;
