.project-main-container {
    &__img {
        margin-bottom: 4rem;
    }
    .project-detail {
        @include border-top-bottom;
        margin-bottom: 4.8rem;
        &__name {
            @include phone-heading;
            margin: 2.5rem 0 2.4rem 0;
        }
        &__type,
        &__skills {
            font-size: 1.3rem;
            line-height: 3rem;
            font-weight: 700;
            font-family: $body-font-family;
            color: $slightly-desaturated-cyan-color;
        }
        &__summary {
            @include main-project-subtext;
        }
        &__link-btn {
            border: $border-style;
            @include link-btn(17.8rem, 4.8rem, white, $dark-blue-color);
            margin-top: 2.4rem;
            justify-content: center;
            margin-bottom: 2.4rem;
        }
        &__link-btn:hover {
            @include secondary-btn-hover;
        }
    }
    &__background {
        h1 {
            @include main-project-title;
        }
        p {
            @include main-project-subtext;
            margin-top: 3.8rem;
        }
        margin-bottom: 4rem;
    }
    &__static-preview {
        h1 {
            @include main-project-title;
            margin-bottom: 4rem;
        }
        img:first-of-type {
            margin-bottom: 3.3rem;
        }
        margin-bottom: 6.5rem;
    }
}

.slider-container {
    width: 100%;
    height: 14.8rem;
    display: flex;

    &__btn {
        border: $border-opacity-style;
        width: 50%;
        height: 100%;
        display: block;
    }
    p {
        transition: 0.3s color ease;
    }

    &__btn:hover &__info p {
        color: $slightly-desaturated-cyan-color;
    }
    &__btn:hover &__icon path {
        stroke: $slightly-desaturated-cyan-color;
    }
    &__btn:first-child {
        border-left: none;
        border-right: none;
    }
    &__btn:last-child {
        border-right: none;
    }
    &__icon {
        width: 1rem;
        height: 1.6rem;
        margin-bottom: 1.6rem;
    }
    &__info {
        height: 9.8rem;
        margin-top: 2.5rem;
        display: flex;
        flex-direction: column;

        p:first-of-type {
            @include main-project-title;
            line-height: 3.6rem;
            color: $grayish-dark-blue-color;
        }
        p:last-of-type {
            @include main-project-subtext;

            opacity: 0.5;
            font-size: 1.6rem;
        }
    }

    &__btn:last-of-type &__info {
        align-items: flex-end;
    }
}

@media (min-width: 768px) {
    .project-detail {
        display: flex;
        height: 24.8rem;
        flex-direction: column;
        flex-wrap: wrap;

        &__summary {
            order: 10;
            width: 33.9rem;
            height: 15rem;
            margin-top: 3.3rem;
        }
        &__type,
        &__name,
        &__skills {
            width: 33.8rem;
        }
        &__name {
            margin: 3.3rem 0 1.6rem 0 !important;
        }
        &__link-btn {
            margin: 1.6rem 0 0 0 !important;
        }
    }
}

@media (min-width: 1440px) {
    .project-main-container {
        &__img {
            margin-bottom: 11.5rem;
            width: 111rem;
        }
        &__bottom {
            display: flex;
            justify-content: space-between;
        }
        .project-detail {
            width: 35rem;
            height: 100%;
            &__type,
            &__name,
            &__skills,
            &__summary {
                width: 100%;
            }
            &__summary {
                order: 0;
                margin-bottom: 2.3rem;
            }
        }

        &__background {
            width: 63.5rem;
        }
        &__static-preview {
            width: 63.5rem;
            img {
                width: 100%;
            }
        }
    }
}
