@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .card-shadow {
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.04);
  }

  .btn {
    width:140px;
    height:48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    line-height: 28px;
    border-radius: 28px;

  }
  
  body{
    word-wrap: break-word;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }


  @media (min-width:1440px) {
    .btn {
      width:167px;
      height:56px;
    }
  }
}
