:root {
    box-sizing: border-box;
    --xxlarge-font-size: 5.5rem;
    --xlarge-font-size: 2.8rem;
    --large-font-size: 1.6rem;
    --medium-font-size: 1.5rem;
    --small-font-size: 1.4rem;
    --xssmall-font-size: 1.3rem;
    --xssmall-font-size: 1.1rem;

    --red-color: hsl(0, 100%, 74%);
    --green-color: hsl(154, 59%, 51%);
    --blue-color: hsl(248, 32%, 49%);
    --dark-blue-color: hsl(249, 10%, 26%);
    --grayish-blue-color: hsl(246, 25%, 77%);

    font-size: 62.5%;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--red-color);
    background-image: url('./images/bg-intro-mobile.png');

    font-family: 'Poppins', sans-serif;
}
/* ########## Main Container CSS  ########## */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-container {
    max-width: 32.7rem;
    margin-top: 8.8rem;
}

.title {
    font-size: var(--xlarge-font-size);
    font-weight: 400;
    line-height: 3.6rem;
    letter-spacing: -0.03rem;
    text-align: center;
    color: white;

    margin-bottom: 5rem;
}

.main-text {
    font-size: var(--large-font-size);
    font-weight: 500;
    line-height: 2.6rem;
    text-align: center;
    color: white;

    margin-bottom: 6.4rem;
}

.sub-text {
    width: 100%;
    background-color: var(--blue-color);
    color: white;

    font-size: var(--medium-font-size);
    font-weight: 500;
    line-height: 2.6rem;
    letter-spacing: 0.268px;
    text-align: center;

    padding: 1.8rem 6.65rem 1.8rem 6.65rem;
    border-radius: 1rem;

    margin-bottom: 2.6rem;
}
.highlight {
    font-weight: 700;
}

/* ########## Form Container CSS  ########## */
.form-container {
    background-color: white;
    border-radius: 0.5rem;
}
form {
    text-align: center;
}

form input::placeholder {
    font-size: var(--small-font-size);
    line-height: 2.6rem;
    font-weight: 600;
    color: gray;
}

form input {
    padding-left: 1.9rem;
    margin-top: 2.4rem;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 27.9rem;
    height: 5.6rem;
}

input[type='text']:focus,
input[type='email']:focus {
    border-color: var(--blue-color);
}

form input[type='submit'] {
    color: white;
    font-size: var(--medium-font-size);
    line-height: 2.6rem;
    margin-bottom: 0.8rem;
    padding-right: 3rem;
    background-color: var(--green-color);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}

form input[type='submit']:hover {
    opacity: 0.6;
}
.info {
    margin: 0 auto;
    max-width: 24.9rem;
    text-align: center;
    color: #bab7d4;
    font-size: var(--xssmall-font-size);
    line-height: 2.1rem;
    font-weight: 500;
}
.red {
    color: var(--red-color);
}
/* ########## Desktop  CSS  ########## */
