.btn {
    background-color: get-color(dark-blue);
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    width: max-content;

    &:hover {
        background-color: get-color(dark-gray);
    }

    span {
        margin-right: 15px;
        color: get-color(very-light-gray);
    }
}
