.contact__details {
    width: 100%;
    margin: 36.5rem 0 7.2rem 0;
    &__line {
        margin-left: 3.2rem;
        width: 6.5rem;
        height: 0.1rem;
        background-color: $medium-grey-color;
    }
    &__heading {
        width: 18rem;
        @include text-func(4rem, 4.8rem);
        color: $very-dark-blue-color;

        margin: 6.8rem 0 4.8rem 0;
    }
    &__info {
        padding-left: 3.2rem;
        margin-bottom: 7.2rem;
    }
    &__info-locations {
        @include text-func(1.5rem, 3.5rem);
    }

    &__office-heading {
        @include text-func(1.5rem, 3.5rem);
        color: $very-dark-blue-color;
        font-style: normal;
        margin-bottom: 0.8rem;
    }

    span {
        font-style: normal;
        color: $dark-grey-color;
    }
    &__list__title.mail {
        margin-right: 4rem;
    }
    &__list__title.address {
        margin-right: 1rem;
    }
    &__list__title.phone {
        margin-right: 2.4rem;
    }
    &__redirect {
        display: flex;
        width: 15.7rem;
        height: 2.5rem;
        justify-content: space-between;
        span {
            color: $very-dark-blue-color;
            font-weight: 700;
        }
    }

    &__location {
        margin-bottom: 4rem;
    }
    &__map__container {
        width: 100%;
    }

    .contact__details__map {
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        margin: 20rem 0;
        &__heading {
            width: 100%;
            @include text-func(5.6rem, 5.6rem);
            color: $very-dark-blue-color;
            margin: 7.4rem 0 6.5rem 0;
        }

        &__location {
            display: flex;
            justify-content: space-between;
            align-items: center;
            address {
                width: 35rem;
            }

            &:nth-of-type(2) {
                margin-bottom: 0;
            }
        }
        &__info {
            margin-bottom: 20rem;
        }
    }

    @media screen and (min-width: 1440px) {
        &__info {
            display: flex;
            height: 21rem;
        }
        &__heading {
            align-self: flex-start;
            width: 31.7rem;
            height: 100%;
            margin: 7.4rem 0 0 0;
        }
        &__info-locations {
            display: flex;
            width: 73rem;
        }
        &__location {
            flex-direction: column;
            margin-top: 7.4rem;
            height: 100%;
            width: 31.7rem;
            address {
                width: 100%;
            }
        }

        &__redirect {
            align-self: flex-start;
        }
    }
}
