.featured-section {
    display: flex;
    flex-direction: column;
    &__btn.hide {
        display: none;
    }
    &__heading {
        @include text-func(4rem, 4.8rem);
        color: $very-dark-blue-color;
        margin-bottom: 4.8rem;
    }
    &__btn {
        @include link-btn(31.1rem);
    }
    .last {
        margin-top: 2.4rem;
    }

    &__portfolios {
        height: 79.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    @media screen and (min-width: 768px) {
        width: 100%;
        &__top {
            display: flex;
            justify-content: space-between;
        }
        &__btn.hide {
            display: flex;
        }
        &__btn {
            @include link-btn(16.9rem);
        }
        .last {
            display: none;
        }
    }
    @media screen and (min-width: 1440px) {
        &__portfolios {
            height: 56rem;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
