.leaders {
    &__heading {
        @include text-func(4rem, 4.8rem);
        color: $very-dark-blue-color;
        margin-bottom: 6.4rem;
    }
    &__cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 174rem;
    }

    &__card {
        height: 40.2rem;
        width: 31.1rem;
        &__avatar {
            width: 100%;
            height: 28.4rem;
            .back-drop {
                display: none;
            }
            &__overlay {
                width: 11rem;
                display: flex;
                justify-content: space-between;

                .twitter {
                    margin-top: 0.6rem;
                }
                &--desktop {
                    display: none;
                }
            }
        }

        &__textbox {
            h5 {
                margin-top: 2.4rem;
                @include text-func(1.8rem, 2.5rem);
                color: $very-dark-blue-color;
                font-weight: 700;
            }
            p {
                @include text-func(1.5rem, 2.5rem);
                color: $medium-grey-color;
                font-weight: 500;
                margin-bottom: 0.8rem;
            }
        }
    }

    @media screen and (min-width: 768px) {
        &__heading {
            @include text-func(5.6rem, 5.6rem);
            color: $very-dark-blue-color;
        }

        &__cards {
            width: $tablet-view-width;
            height: 92rem;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 6.8rem;
        }

        &__card {
            width: 28.1rem;
            height: 37.4rem;
        }
    }

    @media screen and (min-width: 1440px) {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 86rem;
        &__heading {
            @include text-func(5.6rem, 5.6rem);
            color: $very-dark-blue-color;
        }

        &__cards {
            width: 73rem;
        }

        &__card {
            width: 35rem;
            height: 32rem;

            &__avatar {
                width: 100%;
                height: 100%;
            }

            &__avatar-container {
                position: relative;
            }
            .back-drop {
                opacity: 0;
                display: block;
                position: absolute;
                width: 35rem;
                height: 32rem;
                background-color: hsla(220, 14%, 12%, 0.5);
                transition: 0.3s opacity ease;
            }
            &__avatar-container:hover {
                .back-drop,
                .leaders__card__avatar__overlay--desktop {
                    opacity: 1;
                }
            }

            &__avatar__overlay--desktop {
                width: 11.2rem;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                position: absolute;
                transition: 0.3s opacity ease;
                opacity: 0;
                .social-logo {
                    display: inline-block;
                    path {
                        fill: white;
                    }
                }
                .social-logo:first-of-type {
                    margin-right: 3.2rem;
                }
            }
        }

        &__card__social-icon--phone {
            display: none;
        }
    }
}
