:root {
    box-sizing: border-box;

    font-size: 62.5%;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: auto;

    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
}
